<div class="jumbotron text-center">
  <h2 class="jumbotron-heading"><%= t('blacklight.welcome') %></h2>

  <p class="lead">Best 50 Years in Gaming Search is an open-source discovery platform framework built on top of <a href="http://projectblacklight.org">Project Blacklight</a>.</p>

</div>
